

<!-- <div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="text-center">All Transactions</h1>
          <div class="stats-con">
              <div class="chart-con">
                  <div class="chart">
                      <canvas #myChart></canvas>
                  </div>
              </div>
              <div class="amount-con">
                  <div class="col-md-4 card">
                      <div class="income">
                          <h2>Total Income</h2>
                          <p> $ {{totalIncome}}</p>
                      </div>
                  </div>
                  <div class="col-md-4 card">
                      <div class="expense">
                          <h2>Total Expense</h2>
                          <p> $ {{totalExpense}}</p>
                      </div>
                  </div>
                  <div class="col-md-4 card">
                      <div class="balance">
                          <h2>Total Balance</h2>
                          <p> $ {{totalBalance}}</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="chart-con mt-3">
            <h1 class="text-center">My Balance</h1>
              <div class="chart">
               
                  <canvas #balanceChart></canvas>
              </div>
          </div>
      </div>
  </div>
</div>

  

  -->

  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">All Transactions</h1>
            <div class="stats-con">
                <div class="chart-con">
                    <div class="chart">
                        <canvas #myChart></canvas>
                    </div>
                </div>
                <div class="amount-con">
                    <div class="col-md-4 card">
                        <div class="income">
                            <h2>Total Income</h2>
                            <p> $ {{totalIncome }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div class="expense">
                            <h2>Total Expense</h2>
                            <p> $ {{ totalExpense }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div class="balance">
                            <h2>Total Balance</h2>
                            <p> $ {{ totalBalance }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart-con mt-3">
                <h1 class="text-center">My Balance</h1>
                <div class="chart">
                    <canvas #balanceChart></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
