
  
  .box {
      flex: 1;
      background: rgba(245, 170, 208, 0.78);
      border: 3px solid #FFFFFF;
      backdrop-filter: blur(4.5px);
      border-radius: 32px;
      overflow-x: hidden;
      height: 600px;
      text-align: center;
      
  }
  ::-webkit-scrollbar{
     width: 0; 
  }

  .btn{background-color:#F54670;
       width: 200px;
    height: 40px;
   color: #FFFFFF;}