<section class="globalLayout">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Income</h1>
        <h2 class="total-expense">Total Income: <span>${{totalIncome()}}</span></h2>
        <div class="expense-content">
          <div class="form">
            <form [formGroup]="incomeForm" (ngSubmit)="addIncome()">
              <div class="mb-3">
                <input type="text" class="form-control" name="title" placeholder="Income Title" formControlName="title" /><br />
              </div>
              <div class="mb-3">
                <input type="number" name="amount" class="form-control" placeholder="Income Amount" formControlName="amount" /><br />
              </div>
              <div class="mb-3">
                <input type="date" name="date" class="form-control" placeholder="Enter a Date" formControlName="date" /><br />
              </div>
              <div class="mb-3">
                <select required class="form-select" name="category" formControlName="category">
                  <option value="" selected disabled>Select Option</option>
                  <option [value]="cat.id" *ngFor="let cat of incCategory">{{cat.title}}</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="mb-3">
                <textarea class="form-control" name="description" id="" cols="30" rows="4" placeholder="Add Description" formControlName="description"></textarea><br />
              </div>
              <button class="btn btn-danger submit-btn" type="submit">+ Add Income</button><br />
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="expense mb-3">
          <div class="expense-styled g-0" *ngFor="let item of income">
            <div class="icon">
              <i class="fas fa-arrow-up"></i>
            </div>
            <div class="content">
             
              <div class="inner-content">
                <div class="text">
                  <h5>Title:{{item.title}}</h5>
                  <p>Rupees:{{item.amount}}</p>
                  <p>Date:{{item.date}}</p>
                  <p>Category: {{item.category.name}}</p>
                  <p>Description:{{item.description}}</p>
                </div>
                <div class="p-3 mb-3">
                  <i class="bi bi-trash delete" (click)="removeIncome(item._id)"></i>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



